<div class="search-card">
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="city">City:</label>
			<input id="city" type="text" [(ngModel)]="city" name="city" required>
		</div>
		<div class="form-group">
			<label for="state">Country:</label>
			<input id="state" type="text" [(ngModel)]="state" name="state" required>
		</div>
		<div class="form-group">
			<label for="days">Days:</label>
			<input id="days" type="number" [(ngModel)]="days" name="days" min="1" max="7" required>
		</div>
		<button type="submit">Get Forecast</button>
	</form>
</div>